
body {
   align-items: center;
   background-color: beige;
   font-family: Arial, sans-serif;
   color: black;
}
image{
   text-align: center;
}
h1 {
   font-size: 32px;
   color: darkred;
   text-align: center;
   margin-bottom: 20px;
}

h2{
   font-size: 24px;
   color: darkgrey;
   margin-bottom: 15px;
}

img{
   height: 100%;
   
   border-radius: 5px;
   margin-bottom: 15px;
}

form {
   width: 800px;
   background-color: white;
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

input, select, textarea{
   border-radius: 5px;
   border-color: lightgrey;
   padding: 8px;
   margin-bottom: 15px;
}
button{
   background-color: darkred;
   color: white;
   text-align: center;
   border-radius: 5px;
   padding: 10px;
}
textarea{
   background-color: darkgrey;
}
