body {
   background-color: beige;
   font-family: Arial, sans-serif;
   color: black;
}

h1 {
   font-size: 32px;
   color: darkred;
   text-align: center;
   margin-bottom: 20px;
}

h2{
   font-size: 24px;
   color: darkgrey;
   margin-bottom: 15px;
}

img{
   height: 100%;
   
   border-radius: 5px;
   margin-bottom: 15px;
}

form {
   background-color: white;
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

